<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Facilities</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>


    <div id="welcome-section">
        <h1>Welcome!</h1>
        <img src="/static/images/CIFALHonolulu-logo-white.png" alt="CIFAL logo">
        <img src="/static/images/UCM_logo-Reverse_White.png" alt="Chaminade Seal">
        <img src="/static/images/UNITAR-logo-white.png" alt="UNITAR">
    </div>

    <div id="info-section">
                <p>
                    This map interface displays all facilities listed on 
                    <a href="https://www.samhsa.gov/data/report/national-directory-of-drug-and-alcohol-abuse-treatment-facilities">
                        SAMHSA's 2022 National Directory of Drug and Alcohol Abuse Treatment Facilities
                    </a>. 
                    It is a listing of federal, state, local, and private facilities that are licensed, certified, or otherwise approved for inclusion in the Directory by their 
                    <b>State Substance Abuse Agencies</b>, and those facilities that responded to the 2021 National Substance Use and Mental Health Services Survey.
                </p>
                <p>
                    This project is a full-stack implementation of the 
                    <a href="https://github.com/NSF-ALL-SPICE-Alliance/geo-facility-ml">Geospatial Analysis Project</a> 
                    completed as part of a research experience for the NSF's 
                    <a href="https://www.nsfspicealliance.org">All-SPICE Alliance.</a>
                </p>
                <p>
                    The goal of this project is to provide a unique tool for searching and finding specific treatments, services, or facilities, as well as to educate and provide additional information on the facilities themselves and the geospatial distribution of treatment centers in the United States.
                </p>
            
        
    
    </div>

    <div class="container" id="find-treatment-text">
	<h2>find treatment</h2>
    </div>

    <div id="map-section">
        <div id="map-left">
            <div id="map"></div>
            <button id="getDirectionsBtn" style="display: none;">Get Directions</button>
        </div>
        <div id="map-right">
            <div id="map-right">
                <div style="display: flex; justify-content: center; margin-bottom: 10px;">
                    <label for="category" style="margin-right: 5px;">Select Category:</label>
                    <select id="category"></select>
        
                    <label for="service" style="margin-left: 15px; margin-right: 5px;">Select Service:</label>
                    <select id="service"></select>
                </div>
        
                <div id="facility-search-container">
                    <input type="text" id="facilityInput" placeholder="Search for a facility">
                    <div id="facilityResults"></div>
                </div> 
                <p><b> Select a category and service to view all facilities that match your query. Click on any marker to get the name of the selected facility. Click, drag, or zoom on the map to navigate to an area of your choosing. Alternatively, enter an address or city in the search bar below the map to focus on the selected area.</b></p>
                <p>Use the search function to locate a specific facility by name. <b>Please note: If no service is selected, or the chosen facility does not provide the currently selected service, you will not see a blue facility marker. However, the map will still focus on the specified area.</b></p> 
        </div>
    </div>
     <script src="{{ url_for('static', filename='script.js') }}"></script>
</div>

<div id="address-search-container">
    <input type="text" id="addressInput" placeholder="Enter an address or city">
    <button id="findMe">Go</button>
</div>
</body>
</body>
</html>



