<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Facilities</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<h2><b>Treatment Facility Search</b></h2>
        <p><b> Select a category and service to view all facilities that provide your query. Click on any marker to get the name of the selected facility. Click, drag, or zoom on the map to navigate to an area of your choosing. Alternatively, enter an address or city in the search bar below the map to focus on the selected area.</b></p>
    
<div style="display: flex; justify-content: center; margin-bottom: 10px;">
        <label for="category" style="margin-right: 5px;">Select Category:</label>
        <select id="category"></select>

        <label for="service" style="margin-left: 15px; margin-right: 5px;">Select Service:</label>
        <select id="service"></select>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <div id="map" style="width: 80%; max-width: 800px; height: 500px; border: 2px solid #ccc; border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

<div id="search-container">
    <input type="text" id="addressInput" placeholder="Enter an address or city">
    <button id="findMe">Go</button>
</div>
<div id="info-section">
    <h2><b>About This App</b></h2>
    <p>This map interface displays all facilites listed on <a href="https://www.samhsa.gov/data/report/national-directory-of-drug-and-alcohol-abuse-treatment-facilities ">SAMHSA's 2022 National Directory of Drug and Alcohol Abuse Treatment Facilities</a>. It is a listing of federal, state, local, and private facilities that are licensed, certified, or otherwise approved for inclusion in the Directory by their <b>State Substance Abuse Agencies</b>, and those facilities that responded to the 2021 National Substance Use and Mental Health Services Survey. <br><br>

The goal of this project is to provide a unique tool for searching and finding specific treatments, services, or facilites, as well as to educate and provide additional information on the facilities themselves and the geospatial distribution of treatment centers in the United States.</p>
</div>

<button id="scrollTopBtn"> ⬆ Return to Top</button>


</body>
</html>

